<body>
    <div class="wrapper">
        <div class="main-header">
            <%- include('../layouts/index.ejs') %>
                <div class="main-panel">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6 text-right">
                                    <a class="btn btn-primary" style="color: white;text-decoration: none;"
                                        href="/create-ApartmentPage"><i class="fa-regular fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">Thông tin căn hộ</div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="display: none;">#</th>
                                                        <th scope="col">Số căn hộ</th>
                                                        <th scope="col">Số ngườI ở</th>
                                                        <th scope="col">Tầng</th>
                                                        <th scope="col">Trạng thái</th>
                                                        <th scope="col">Kích thước</th>
                                                        <th scope="col">Chức năng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% listApartments.forEach(function(apartment) { %>
                                                        <tr>
                                                            <td style="display: none;">
                                                                <%= apartment.id %>
                                                            </td>
                                                            <td>
                                                                <%= apartment.ApartID %>
                                                            </td>
                                                            <td>
                                                                <%= apartment.CitizenCount %>
                                                            </td>
                                                            <td>
                                                                <%= apartment.Floor %>
                                                            </td>
                                                            <td>
                                                                <%= apartment.Status %>
                                                            </td>
                                                            <td>
                                                                <%= apartment.Size %>
                                                            </td>
                                                            <td style="width: 200px;">
                                                                <a class="btn btn-primary"
                                                                    style="color: white;text-decoration: none; margin-right: 20px; "
                                                                    href="/apartmentDetail/<%= apartment.ApartID %>">Chi
                                                                    tiết</a>
                                                                <a href="/edit-ApartmentPage/<%= apartment.id %>"><i
                                                                        class="fa-solid fa-pencil"></i></a>
                                                                <a style="margin-left: 20px; color: red;"
                                                                    href="/delete-ApartmentPage/<%= apartment.id %>"><i
                                                                        class="fa-solid fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</body>

</html>