<body>
    <div class="wrapper">
        <div class="main-header">
            <%- include('../layouts/index.ejs') %>
                <div class="main-panel">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="/searchDebitDate" method="POST">
                                        <input type="month" name="month">
                                        <button class="btn btn-primary" type="submit"><i
                                                class="fa fa-search"></i></button>
                                    </form>
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">Lịch sử chủ ghi nợ</div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Mã hóa đơn</th>
                                                        <th scope="col">Hóa đơn tháng</th>
                                                        <th scope="col">Căn hộ</th>
                                                        <th scope="col">Chủ sở hữu</th>
                                                        <th scope="col">Số tiền nợ</th>
                                                        <th scope="col">Tổng tiền</th>
                                                        <th scope="col" class="col-1">Chức năng</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% listDebitHistories.forEach(function(debit) { %>
                                                        <tr>
                                                            <td style="display: none;">
                                                                <%= debit.id %>
                                                            </td>
                                                            <td>
                                                                <%= debit.ServiceFeeID %>
                                                            </td>
                                                            <td>
                                                                <%= debit.PaymentMonth %>
                                                            </td>
                                                            <td>
                                                                <%= debit.ApartID %>
                                                            </td>
                                                            <td>
                                                                <%= debit.Owner %>
                                                            </td>
                                                            <td>
                                                                <%= debit.AmountOwed %> VND
                                                            </td>
                                                            <td>
                                                                <%= debit.TotalFee %> VND
                                                            </td>
                                                            <td style="width: 200px;" class="text-center">

                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
<style>
    .col-1-5 {
        flex: 0 0 12.5%;
        /* Chiếm 1.5 cột trong tổng số 12 cột */
        max-width: 12.5%;
    }

    #btnPay {
        margin-left: 3%;
    }
</style>