<body>
    <%- include('../contracts/create-Contract.ejs') %>
        <%- include('../contracts/delete-Contract.ejs') %>
            <%- include('../contracts/edit-Contract.ejs') %>
                <div class="wrapper">
                    <div class="main-header">
                        <%- include('../layouts/index.ejs') %>
                            <div class="main-panel">
                                <div class="content">

                                    <div class="container-fluid">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#createModal">
                                                    <i class="fa-regular fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-title">Thông tin hợp đồng</div>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" style="display: none;">#</th>
                                                                    <th scope="col">Mã hợp đồng</th>
                                                                    <th scope="col">Số căn hộ</th>
                                                                    <th scope="col">Chủ sở hữu</th>
                                                                    <th scope="col">Loại hợp đồng</th>
                                                                    <th scope="col">Ngày bắt đầu</th>
                                                                    <th scope="col">Ngày kết thúc</th>
                                                                    <th scope="col">Trạng thái hợp đồng</th>
                                                                    <th scope="col" class="col-2">Chức năng</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% listContracts.forEach(function(contract) { %>
                                                                    <tr>
                                                                        <td style="display: none;">
                                                                            <%= contract.id %>
                                                                        </td>
                                                                        <td>
                                                                            <%= contract.ContractID %>
                                                                        </td>
                                                                        <td>
                                                                            <%= contract.ApartNumber %>
                                                                        </td>
                                                                        <td>
                                                                            <%= contract.Owner%>
                                                                        </td>
                                                                        <td>
                                                                            <%= contract.ContractType %>
                                                                        </td>
                                                                        <td>
                                                                            <%= contract.ContractStartDate %>
                                                                        </td>
                                                                        <td>
                                                                            <%= contract.ContractEndDate %>
                                                                        </td>
                                                                        <td>
                                                                            <%= contract.ContractStatus %>
                                                                        </td>
                                                                        <td style="width: 200px;">
                                                                            <button class="edit-btn" data-toggle="modal"
                                                                                data-target="#editModal"
                                                                                data-id="<%= contract.id %>"
                                                                                data-contractID="<%= contract.ContractID %>"
                                                                                data-apartnumber="<%= contract.ApartNumber %>"
                                                                                data-owner="<%= contract.Owner%>"
                                                                                data-contractType="<%= contract.ContractType %>"
                                                                                data-contractStartDate="<%= contract.ContractStartDate %>"
                                                                                data-contractEndDate="<%= contract.ContractEndDate %>"
                                                                                data-contractStatus="<%= contract.ContractStatus %>">
                                                                                <i class="fa-solid fa-pencil"></i>
                                                                            </button>
                                                                            <button class="delete-btn"
                                                                                data-toggle="modal"
                                                                                data-target="#deleteModal"
                                                                                data-id="<%= contract.id %>"
                                                                                data-owner="<%= contract.Owner %>">
                                                                                <i class="fa-solid fa-trash"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
</body>
<script src="/js/getDataContract.js"></script>