<body>
    <div class="wrapper">
        <div class="main-header">
            <%- include('../layouts/index.ejs') %>
                <div class="main-panel">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <form action="/edit-AssetCat" method="POST">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">Sửa danh mục</div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group" style="display: none;">
                                                    <label for="id">ID</label>
                                                    <input type="text" name="id" class="form-control"
                                                        value="<%= assetCat.id %>">
                                                </div>
                                                <div class="form-group">
                                                    <label for="AssetCatID">Mã danh mục</label>
                                                    <input type="text" name="AssetCatID" class="form-control"
                                                        value="<%= assetCat.AssetCatID %>">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="Name">Tên danh mục</label>
                                                    <input type="text" name="Name" class="form-control"
                                                        value="<%= assetCat.Name %>">
                                                </div>
                                                <div class="form-group ">
                                                    <label>Mô tả</label>
                                                    <textarea name="Description"
                                                        class="form-control"><%= assetCat.Description %></textarea>
                                                </div>
                                            </div>
                                            <div class="card-action">
                                                <button type="submit" class="btn btn-success">Xác nhận</button>

                                                <input class="btn btn-secondary" type="button" value="Hủy"
                                                    onclick="history.back()" />

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <nav class="pull-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="http://www.themekita.com">
                                            ThemeKita
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            Help
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            Licenses
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="copyright ml-auto">
                                2018, made with <i class="la la-heart heart text-danger"></i> by <a
                                    href="http://www.themekita.com">ThemeKita</a>
                            </div>
                        </div>
                    </footer>
                </div>
        </div>
    </div>
    </div>
</body>

</html>