<body>
    <div class="wrapper">
        <div class="main-header">
            <%- include('../layouts/indexCitizen.ejs') %>
                <div class="main-panel">
                    <div class="content">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">Thành viên trong gia đình</div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="display: none;">#</th>

                                                        <th scope="col">Quan hệ</th>
                                                        <th scope="col">Họ và Tên</th>
                                                        <th scope="col">Ngày sinh</th>
                                                        <th scope="col">Giới tính</th>
                                                        <th scope="col">Quê hương</th>
                                                        <th scope="col">Số điện thoại</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% member.forEach(function(member) { %>
                                                        <tr>

                                                            <td>
                                                                <%= member.Relationship %>
                                                            </td>
                                                            <td>
                                                                <%= member.Name %>
                                                            </td>
                                                            <td>
                                                                <%= member.BirthDay.toLocaleDateString() %>
                                                            </td>
                                                            <td>
                                                                <%= member.Gender %>
                                                            </td>
                                                            <td>
                                                                <%= member.Hometown %>
                                                            </td>
                                                            <td>
                                                                0<%= member.Phone %>
                                                            </td>

                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">Hợp đồng</div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="display: none;">#</th>
                                                        <th scope="col">Chủ sở hữu</th>
                                                        <th scope="col">Loại hợp đồng</th>
                                                        <th scope="col">Ngày bắt đầu</th>
                                                        <th scope="col">Ngày kết thúc</th>
                                                        <th scope="col">Trạng thái hợp đồng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% contract.forEach(function(contract) { %>
                                                        <tr>

                                                            <td>
                                                                <%= contract.Owner%>
                                                            </td>
                                                            <td>
                                                                <%= contract.ContractType %>
                                                            </td>
                                                            <td>
                                                                <%= contract.ContractStartDate %>
                                                            </td>
                                                            <td>
                                                                <%= contract.ContractEndDate %>
                                                            </td>
                                                            <td>
                                                                <%= contract.ContractStatus %>
                                                            </td>

                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">Hóa đơn tháng này</div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="display: none;">#</th>
                                                        <th scope="col">Mã hoá đơn</th>
                                                        <th scope="col" class="col-1-5">Phí trông xe</th>
                                                        <th scope="col" class="col-1-5">Phí rác</th>
                                                        <th scope="col" class="col-1-5">Phí môi trường</th>
                                                        <th scope="col" class="col-1-5">Tổng phí</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% servicefee.forEach(function(servicefee) { %>
                                                        <tr>

                                                            <td>
                                                                <%= servicefee.ServiceFeeID %>
                                                            </td>
                                                            <td>
                                                                <%= servicefee.ParkingFee %> VND
                                                            </td>
                                                            <td>
                                                                <%= servicefee.GarbageFee %> VND
                                                            </td>
                                                            <td>
                                                                <%= servicefee.EnvironmentalFee %> VND
                                                            </td>

                                                            <td>
                                                                <%= servicefee.TotalFee %> VND
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">Hóa đơn đang nợ</div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Mã hóa đơn</th>
                                                        <th scope="col">Hóa đơn tháng</th>
                                                        <th scope="col">Số tiền nợ</th>
                                                        <th scope="col">Tổng tiền</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% debithistory .forEach(function(debit) { %>
                                                        <tr>
                                                            <td style="display: none;">
                                                                <%= debit.id %>
                                                            </td>
                                                            <td>
                                                                <%= debit.ServiceFeeID %>
                                                            </td>
                                                            <td>
                                                                <%= debit.PaymentMonth.toLocaleDateString() %>
                                                            </td>

                                                            <td>
                                                                <%= debit.AmountOwed %> VND
                                                            </td>
                                                            <td>
                                                                <%= debit.TotalFee %> VND
                                                            </td>

                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</body>
</body>

</html>