<script>
    window.onload = function () {

        var dataPoints = [];

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Thống kê doanh số thu chi"
            },
            axisY: {
                title: "Units",
                titleFontSize: 24,
                includeZero: true
            },
            data: [{
                type: "column",
                yValueFormatString: "#,### Units",
                dataPoints: dataPoints
            }]
        });

        function addData(data) {
            for (var i = 0; i < data.length; i++) {
                dataPoints.push({
                    x: new Date(data[i].date),
                    y: data[i].units
                });
            }
            chart.render();

        }

        $.getJSON("https://canvasjs.com/data/gallery/javascript/daily-sales-data.json", addData);

    }
</script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>


<body>
    <div class="wrapper">
        <div class="main-header">
            <%- include('../layouts/index.ejs') %>
                <div class="main-panel">
                    <div class="content">
                        <div class="container-fluid">
                            <h4 class="page-title">Thống kê chung cư</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card card-stats card-warning">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-users"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Dân cư</p>
                                                        <h5 class="card-title">
                                                            <%= countCitizen %> người
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card card-stats card-success">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-bar-chart"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Căn hộ sử dụng</p>
                                                        <h5 class="card-title">
                                                            <%= countApart %> / 60 Căn
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card card-stats card-danger">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-newspaper-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Tổng hợp đồng</p>
                                                        <h5 class="card-title">
                                                            <%= countContract %> hợp đồng
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card card-stats card-primary">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-check-circle"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Tổng tài sản</p>
                                                        <h5 class="card-title">
                                                            <%= countAsset %> tài sản
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card bg-dark text-white">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-8 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category text-white">Tổng số hoá đơn</p>
                                                        <h5 class="card-title text-white">
                                                            <%= countInvoice %> hoá đơn
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card bg-dark text-white">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-8 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category text-white">Tổng tiền cần thu</p>
                                                        <h5 class="card-title text-white">
                                                            <%= totalInvoive %> VND
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="chartContainer"
                                style="height: 300px; max-width: 800px; margin: 0px auto; margin-bottom: 30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card card-tasks">
                                        <div class="card-header ">
                                            <h4 class="card-title">Hợp đồng mua bán</h4>
                                        </div>
                                        <div class="card-body ">
                                            <div class="table-full-width">
                                                <table class="table">
                                                    <thead>
                                                        <th>Mã hợp đồng</th>
                                                        <th>Chủ sở hữu</th>
                                                        <th>Trạng thái hợp đồng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% ContractWithBuy.forEach(function(data) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= data.ContractID %>
                                                                </td>
                                                                <td>
                                                                    <%= data.Owner %>
                                                                </td>
                                                                <td>
                                                                    <%= data.ContractStatus %>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-tasks">
                                        <div class="card-header ">
                                            <h4 class="card-title">Hợp đồng cho thuê</h4>
                                        </div>
                                        <div class="card-body ">
                                            <div class="table-full-width">
                                                <table class="table">
                                                    <thead>
                                                        <th>Mã hợp đồng</th>
                                                        <th>Chủ sở hữu</th>
                                                        <th>Trạng thái hợp đồng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% ContractWithRent.forEach(function(data) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= data.ContractID %>
                                                                </td>
                                                                <td>
                                                                    <%= data.Owner %>
                                                                </td>
                                                                <td>
                                                                    <%= data.ContractStatus %>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <nav class="pull-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="http://www.themekita.com">
                                            ThemeKita
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            Help
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://themewagon.com/license/#free-item">
                                            Licenses
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="copyright ml-auto">
                                2018, made with <i class="la la-heart heart text-danger"></i> by <a
                                    href="http://www.themekita.com">ThemeKita</a>
                            </div>
                        </div>
                    </footer>
                </div>
        </div>
    </div>
</body>
</body>

</html>